<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <title><%- title %></title>
</head>
<body>
    <%- include("partials/navbar"); %>
    <% if (locals.displayMessages && locals.displayMessages.length > 0) { %>
        <div class="alertsContainer">
            <ul>
                <% displayMessages.forEach((message) => { %>
                <li><%= message %></li>
                <% }) %>
            </ul>
        </div>
      <% } %>
    <form action="/login" method="POST" class="loginForm">
        <div class="loginFormItem">
            <label for="username">Username: </label>
            <input id="username" name="username" type="text">
        </div>
        <div class="loginFormItem">
            <label for="password">Password: </label>
            <input id="password" name="password" type="password">
        </div>
        <button class="submitLoginFormButton">Log in</button>
    </form>
</body>
</html>