<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/post.css">
    <title><%- title %></title>
</head>
<body>
    <%- include("partials/navbar"); %>
    <form action="/post" method="POST" class="messageForm">
        <label for="message" class="messageFormLabel">Message:</label>
        <textarea name="message" id="message" minlength="3" maxlength="255" class="messageFormInput" required></textarea>
        <button class="messageFormSubmitButton">Submit</button>
    </form>
</body>
</html>