/* Secret form stylesheet */

.secretForm {
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: max(350px, 25%);
    border: 1px solid black;
    border-radius: 3px;
}

.secretFormInput {
    width: 100%;
}

.secretFormSubmitButton {
    margin: 0.5rem 0 0 0;
    width: 100%;
}